*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-ligth: #f4f4f4;
    --color-dark: #222;
    --color-orange: #ff6600;
}

html{
    scroll-behavior: smooth;
}

section{
    height: 100dvh; /* pegar altura do dispositivo mantendo ela do tamanho total da tela */ 
}

.hero{
    height: 100dvh;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .4)), url(../Projeto-HD/images/motos/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    background-attachment: fixed;

    .header-hero{
        h1{
            color: var(--color-ligth);
        }
    }
}