@font-face {
    font-family: russian-font;
    src: url(../fonts/Roboto-Black.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-ligth: #f4f4f4;
    --color-dark: #222;
    --color-orange: #ff6600;
    --spacing-sm: 10px;
    --spacing-md: 30px;

}

html{
    scroll-behavior: smooth;
    font-family: russian-font;
}

section{
    height: 100dvh; /* pegar altura do dispositivo mantendo ela do tamanho total da tela */ 
}

ul, ol{
    list-style: none;
}

a{
    color: var(--color-ligth);
    font-weight: 800;
    text-decoration: none;

    &:hover{
        color: var(--color-orange);
    }
}

.hero{
    height: 100dvh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .6)), url(../Projeto-HD/images/motos/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    background-attachment: fixed;

    .header-hero{

        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: var(--spacing-md);

        h1{
            color: var(--color-ligth);
        }
    }
}

.nav-hero-menu{
    display: flex;
    gap: var(--spacing-md);
}

.cta{
    min-height: calc(100dvh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
    color: var(--color-ligth);
    text-align: center;

    h2{
        font-size: 7vmin;
        text-wrap: balance;

    }

    p{
        width: 60%;
        text-wrap: balance;
        line-height: 1.6;
    }
}